KODIK_TOKEN=your_kodik_token
SITE_URL=http://localhost:3000
VITE_FIREBASE_ALLOW_LOCALHOST_AUTH=false

# Guest mode on localhost:
# Do not set VITE_FIREBASE_CONFIG
# Do not set VITE_APP_CHECK_KEY
# Do not set VITE_APP_CHECK_ENABLED
