KODIK_TOKEN=your_kodik_token
SITE_URL=https://your-domain.com

VITE_FIREBASE_CONFIG={"apiKey":"...","authDomain":"...","projectId":"...","storageBucket":"...","messagingSenderId":"...","appId":"..."}
VITE_APP_CHECK_KEY=your_recaptcha_site_key
VITE_APP_CHECK_ENABLED=true
VITE_FIREBASE_CUSTOM_AUTH_DOMAIN=
VITE_FIREBASE_FORCE_CUSTOM_AUTH_DOMAIN=
VITE_FIREBASE_ALLOW_LOCALHOST_AUTH=false
